/*******light*********/
.light body,nav, nav a{
	background-color:#fff;
	color:#333
}
.light header,nav .close::after,a.menu::after{
	color:#fff
}
.dark{
	background-color: #333
}
span.menu.icon{
	color:#fff
}